
#photo {
   width: 50%;
   margin: 0 auto;
   text-align: center;
   margin-top: 2em;
}

#photo img {
   width: 100%;
   object-fit: cover;
   aspect-ratio: 1;
}

.message-container {
   margin: 1em 0;
}

.comments {
   text-align: left;
}

.comments,
.comments h3,
.author {
   margin-bottom: 1em;
}

.comments form {
   padding-bottom: 2em;
   border-bottom: 1px solid #363636;
}

.author {
   display: flex;
   align-items: center;
   font-weight: bold;
}

#photo .author img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-right: 1em;
}

.comment {
   border-bottom: 1px solid #363636;
   padding: 1em 0;
   padding-left: 0.5em;
}

