
nav {
   display: flex;
   justify-content: center;
}

nav a {
   margin: 0 10px;
   padding: 5px;
   color: black;
}

nav a:hover {
   color: #ccc;
}

.active {
   background-color: black;
   color: white;
}