@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
   --lightgreen: #2fc9a3;
   --lightblue: #1baca9;
   --black: #000;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
   text-decoration: none !important;
}

body{
   height: 100vh;
}

input::placeholder,
textarea::placeholder {
   font-family: "Montserrat", sans-serif;
}

input:focus,
textarea:focus {
   outline: none;
}

a,
nav button {
   text-decoration: none;
   background-color: transparent;
   border: none;
   color: var(--black);
   transition: 0.4s;
   font-size: 1em;
   cursor: pointer;
}

a:hover,
nav button:hover {
   color: #fff;
}

/* form styles */
form {
   width: 100%;
   max-width: 600px;
   margin: 0 auto;
}

label {
   display: flex;
   flex-direction: column;
   margin-bottom: 1em;
}

label span {
   margin-bottom: 0.3em;
   font-weight: bold;
   text-align: left;
}

input,
textarea {
   border: none;
   border-bottom: 1px solid #ccc;
   padding: 0.8em 0em;
   background-color: transparent;
}

input::placeholder,
textarea::placeholder {
   color: #aaa;
}

.btn {
   background-color: var(--lightgreen);
   color: #fff;
   text-align: center;
   cursor: pointer;
   border-radius: 10px;
   width: 120px;
   font-weight: bold;
   border: none;
   padding: 10px 15px;
   font-size: 1em;
   transition: background-color 0.2s ease;
}

.btn.btn-dark {
   background-color: var(--lightgreen);
   border-radius: 0;
}

.btn.btn-outline {
   background-color: transparent;
   border-radius: 0;
   color: var(--black);
   border: 1px solid var(--black);
   padding: 7px 30px;
}

.btn:hover {
   background-color: var(--lightblue);
   color: #fff;
}

.btn.btn-outline:hover {
   background-color: var(--lightblue);
}

.btn.btn-danger:hover {
   background-color: #dc3545;
}

button[disabled] {
   background-color: #aaa;
}

.container .error {
   color: #721c24;
   background-color: #f8d7da;
   border: 1px solid #f5c6cb;
   padding: 5px;
   border-radius: 5px;
}

.active {
   background-color: var(--black);
   border-radius: 3px;
   color: #fff;
}